* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100%;
    width: 100%; */
    min-height: 100vh;
    min-width: 99vw;
    display: grid;
    /* grid-template-columns: 300px auto; */
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
    grid-template-rows: auto 1fr auto;
}

nav {
    grid-area: navbar;
    background-color: blue;
    color: white;
    font-size: 2rem;
    padding: 1em;
    position: sticky;
    top: 0;
    display: flex;
    gap: 150px
}

aside {
    grid-area: sidebar;
    background-color: rgb(228, 228, 228);
    opacity: 0.95;
    position: sticky;
    top: 95px;
    align-self: start;
    height: calc(100vh - 95px);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 0.5em;
}

@media (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        width: 300px;
        display: none;
    }

    .show {
        display: block;
    }
}